button.margin-top{
  margin-top: 30px;
  float: right;
}

a:hover{
  text-decoration: none;
}

button.btn-sm{
  margin-top: 20px;
}

span.ingredients{
  font-style: italic;
}

#emptyList{
  padding: 10px;
}